<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zuitt CSP2 API Hosting Platform</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="bg-primary">
            <nav class="container">
                <ul>
                    <li>
                        <hgroup>
                            <h2>Zuitt Hosting</h2>
                            <small>NodeJS API Hosting Platform for CSP2</small>
                        </hgroup>
                    </li>
                </ul>
                <ul>
                    <% if (user) { %>
                        <li><a role="button" class="contrast outline" href="/logout">Logout</a></li>
                    <%} else {%>
                        <li></li>
                    <% } %>
                    
                </ul>
            </nav>
        </div>